.card-container {
  margin: 10px 0px;
  padding: 10px 10px;
  .card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .profile-info {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      .profile-text {
        .user-name-text {
          font-size: 18px;
          font-weight: 400;
        }
        .feed-time {
          font-size: 14px;
          color: gray;
        }
      }
    }
    .thumbnail {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }
  .feed-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
