<ng-container *ngIf="data$ | async as data">
  <div class="container">
    <mat-card class="card-container">
      <h1>Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            id="email"
            formControlName="email"
            type="email"
          />
          <mat-icon matPrefix>mail</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="password"
            formControlName="password"
            id="password"
          />
          <mat-icon matPrefix>lock</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="data.isSubmitting"
          id="submit-btn"
        >
          Login
        </button>
        <app-backend-error-messages
          *ngIf="data.backendErrors"
          [backendErrors]="data.backendErrors"
        ></app-backend-error-messages>
        <div>
          Don't have account?
          <span>
            <a routerLink="/register">Sign up</a>
          </span>
        </div>
      </form>
    </mat-card>
  </div>
</ng-container>
<!-- <input type="password" placeholder="password" value="passw" id="password" /> -->
