.gf-container {
  padding: 20px 20px;
  height: auto;
  .inner-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    // justify-content: space-around;
    .tab-section {
      flex: 2;
      //   display: flex;
      //   flex-grow: 2;
    }
    .tag-section {
      flex: 1;
    }
  }
}
